* {
    padding: 0;
    margin: 0;
}
head,
body {
    font-family: "IBM Plex Sans", sans-serif;
}
header,
.title,
.select,
.details,
.currency{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    padding: 8px;
}
header{
    margin-top: 8px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.user,.bar{
    display: none;
}
title h1 {
    font-size: 40px;
}
.logo{
    border-radius: 30px;
    height: 40px;
}
.select button,
.signin {
    cursor: pointer;
    padding: 10px 15px;
    border-style: none;
    border-radius: 30px;
    font-weight: bolder;
}
.select button {
    background-color: white;
}
.select button:hover {
    background-color: #F0F0F0;
}
.signin {
    background-color: black;
    color: white;
}
/* main */
main{
    margin-left: 3%;
    margin-right: 3%;
} 
.head{
    font-size: 60px;
    text-align: center;
}
.head{
    margin: 48px 42px 0px 42px;
}
.options{
    display: flex;
    justify-content:center;
    gap: 20px;
    margin: 34px 0px 16px 0px;
    font-weight: 600;
}
.options button{
    border-style: none;
    background-color: white;
    border-bottom: 2px black solid;
    padding-bottom: 8px;
    font-weight: 600;
}
.options button:hover,.options a:hover{
    cursor: pointer;
    border-bottom:black 2px solid;
    color: gray;
}
.search__bar__input{
    border-style: none;
    width: 80%;
    padding-left: 5px;
}
.search__bar__input:focus{
    outline: none;
}
.search__bar{
    border: 1px lightgray solid;
    width: 35%;
    padding: 12px 12px 12px 20px;
    border-radius: 25px;
}
.search{
    display: flex;
    flex-wrap: ;
    justify-content: center;
    gap: 5px;
}
.search__button{
    padding: 14px 20px;
    border-radius: 25px;
    border-style: none;
    background-color:#34E0A1;
    font-weight: bold;
    cursor: pointer;
}
.AI img{
    width: 100%;
    border-radius: 30px;
}
.AI{
    text-align: center;
    margin-top: 50px;
}
.stay,.top,.park,.explore,.nexttrip,.holiday,.rentals,footer{
    margin-top: 50px;
}
.stay p,.top p,.park p,.nexttrip p,.holiday p{
    margin: 15px 0px;
}
.stay__card,.top__card,.park__card,.explore__card,.nexttrip__card,.holiday__card,.rentals__card{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    cursor: pointer;
}
.stay__card__img,.nexttrip__card__img,.holiday__card__img,.explore__card__img,.top__card__img{
    position: relative;
}
.stay__card__img h1,.nexttrip__card__img h1,.holiday__card__img h1{
    position: absolute;
    bottom: 3%;
    left: 3%;
    color: white;
    background-color: transparent;
}
.heart{
    position: absolute;
    top: 10px;
    right: 10px;
}
.stay__card img,.top__card__img img ,.park__card__img img,.explore__card__img img,.nexttrip__card img,.holiday__card img,.rentals__card img{
    width: 250px; 
    height: 250px;
    border-radius: 10px;
}
.rentals__desc h3{
    padding: 20px 5px;
    text-align: left;
}
.rentals__desc{
    display: flex;
}
.explore,footer{
    background-color:#FAF1ED;
    padding: 32px 60px 60px 60px;
}
.explore h2{
    margin-bottom: 20px;
}
.explore__card p{
    font-weight: bold;
    padding: 20px;
}
/* footer */
footer{
    font-size: 14px;
}
.section1{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.section2{
    margin-top: 20px;
}
.socialmedia{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 30px;
}
.footeroptions1__head,.footeroptions2__head{
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
}
.footeroptions1__desc li,.footeroptions2__desc li{
    list-style: none;
    margin: 8px 0px;
}
.footeroptions1__head p,.footeroptions2__head p{
    font-size: large;
    margin-bottom: 10px;
}
.selectoption select{
    cursor: pointer;
    padding: 10px 60px;
    border-radius: 20px;
    border: 2px gray solid;
    margin-top: 15px;
}
.copy,.version{
    font-size: 13px;
}
.terms p{
    display: inline;
}
.terms__info p{
    display: inline-block;
    margin: 5px 15px;
    cursor: pointer;
    font-weight: 700;
    border-bottom: black 1px solid;
}

/* media queries */

@media screen and (max-width:700px){
    body{
        font-size: 14px;
    }
    .select,.currency,.head,.terms__currency,.terms__details h4,.signin,.footeroptions1__desc,.footeroptions2__desc{
        display: none;
    }
    .bar{
        display: inline;
    }
    .rentals__desc,.footeroptions__head{
        display: block;
    }
    .logo{
        height: 20px;
    }
    .bar,.user{
        display: block;
    }
    .options{
        overflow-x: auto;
    }
    .search{
        display: inline-block;
        width: 100%;
    }
    .search__bar{
        width: 95%;  
    }
    .search__button{
        width: 103%;
    }
    .footeroptions1__head:hover .footeroptions1__desc, .footeroptions2__head:hover .footeroptions2__desc{
        display: block;
        position: relative;
        top: 3px;
    }
    .section1,.footeroptions1__head,.footeroptions2__head{
        display: block;
        margin-bottom: 20px;
    }
    .selectoption select{
            width: 80%;
    }
}

